In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import time

In [2]:
url ="https://www.jobpaw.com/pont/professionnels.php?idj=12119"
brower = webdriver.Chrome()

In [3]:
brower.get(url)

In [4]:
soup = BeautifulSoup(brower.page_source ,'html5')

In [5]:
tables = soup.find_all('table',class_='table table-hover table-bordered')

In [21]:
#print(tables[0].prettify())

In [18]:
df =pd.read_html(url)

In [10]:
columns = pd.DataFrame(columns={'a','b','c','d'})

In [11]:
df = pd.DataFrame(None,columns=columns)

In [22]:
df[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Titre du poste,Responsable Programme EHA (Port-au-Prince),Compagnie,Solidarites International
1,Domaine,"Management/Gestion, Finance, Comptabilité et C...",Spécialité,Gestion de Projets
2,Date publication,23 Juil 2020,Date limite,31 Juil 2020
3,Pays,Haiti,Ville,Port-au-Prince
4,Zone,"6,Rue Pierre Sully Bourdon",Durée,Déterminée

In [17]:
df

                                                   0
0           Unnamed: 0                           ...
1                                         Titre d...
2                                                ...